<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1 class="display-4">Payments from devices</h1>
  <p class="lead">Payments genreted by merchans and processed by  IoT Central. Each payment formatted in pain.001 (compliant with ISO 22002) format and wrapped with FNDT message feed the GPP systems and wait for completion. Once completed or cancelled a notification (SMS) message is sent to device owner.</p>  
</div>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>device</th>
      <th>owner</th>
      <th>merchant</th>
      <th>amount</th>
      <th>currency</th>
      <th>status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr >        
        <td><%= image_tag asset_path("#{payment.debitable.device_type}.png"), class: "h-10" %></td>
        <td class="align-middle"><%= payment.debitable.name %></td>
        <td class="align-middle"><%= payment.debitable.user.mobile_number %></td>
        <td class="align-middle"><%= payment.creditable.name %></td>
        <td class="align-middle"><%= payment.amount %></td>
        <td class="align-middle"><%= payment.currency %></td>
        <td class="align-middle">complete</td>
        <td class="align-middle"><i class="fa fa-file-code-o fa-2x"></i></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--%= link_to 'New Payment', new_payment_path %-->
