<p id="notice"><%= notice %></p>

<h2 class="display-5">Payments dashboard</h2>
<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr class="row">
        <th class="col-sm-2"></th>
        <th class="col-sm-3">device name</th>
        <th class="col-sm-2">owner</th>
        <th class="col-sm-3">status</th>
        <th class="col-sm-2">progress</th>
      </tr>
    </thead>

    <tbody>
      <% @payments.each do |payment| %>
        <tr class="row">        
          <td class="align-middle col-sm-2"><%= image_tag asset_path("#{payment.debitable.device_type}.png") %></td>
          <td class="align-middle font-weight-bold col-sm-3"><%= payment.debitable.name %></td>
          <td class="align-middle col-sm-2"><%= payment.debitable.user.mobile_number %></td>
          <td class="align-middle text-success col-sm-3"><h6><%= payment.status_desc%></h6></td>
          <td class="align-middle col-sm-2">
           <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: <%=payment.progress%>%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>                  
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>