<p id="notice"><%= notice %></p>

<h1 class="text-center">Payments received from devices</h1>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>device</th>
      <th>debit</th>
      <th>credit</th>
      <th>amount</th>
      <th>currency</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.id %></td>
        <td><%= image_tag asset_path("#{payment.debitable.device_type}.png"), class: "h-10" %></td>
        <td><%= payment.debitable.user.accounts.first.number %></td>
        <td><%= payment.creditable.accounts.first.number %></td>
        <td><%= payment.amount %></td>
        <td><%= payment.currency %></td>
        <td><%= link_to 'message', payment.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--%= link_to 'New Payment', new_payment_path %-->
