<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!--Card Dark-->
<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/images/banklogo.jpg" alt="" width="250" height="125">
    <!--h2><%= @payment.debitable.name %></h2-->
    <p class="lead text-left">
      Hi <%= @payment.debitable.user.name %>, <br> 
      Device <b> <%= @payment.debitable.name %> </b> created an order on your behalf <br>
      Order will be shipped to <%= @payment.debitable.user.address %> , <%= @payment.debitable.user.city %> <br>
      Total cost of order is: <%= number_to_currency(@payment.amount, unit: " " + @payment.currency, format: "%n%u") %><br>
      Order ref number is: <%= @payment.reference %><br>
    </p>    
  </div> 
  <div class="text-center">
    <button type="button" class="btn btn-lg btn-success mr-4"  onclick=redirect()>Confirm</button> 
    <button type="button" class="btn btn-lg btn-outline-secondary ml-4"  onclick=decline()>Decline</button>   
  </div>
</div>
<!--/.Card Dark-->

<script>
function redirect()
{
  location.href = "http://iotpay.herokuapp.com/payments/confirmed/<%= @payment.pid %>";
} 
function decline()
{
  alert('Sorry, will be in touch with you later !!!')
} 
</script>
