<!DOCTYPE html>
<html>
  <head>
    <title>IoT Payments Hub</title>
    <!--meta http-equiv="refresh" content="2; URL=https://iotpay.herokuapp.com/"-->
    <!--meta http-equiv="refresh" content="2; URL=http://localhost:3000"-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'favicon.jpg' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'   %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
  	<div class="container">
    	<%= yield %>
    </div>
  </body>
</html>
